
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .overview-item--c1,.overview-item--c2,.overview-item--c3,.overview-item--c4{
        height: 250px;
    }
   
    .overview-chart{
       height: 115px;
    }
   #widgetChart1,#widgetChart2,#widgetChart3,#widgetChart4{
        position: absolute;
        bottom: 45px!important;
    }
   
    .overview-box .icon{
       width: 100%;
       margin-right: 0;
     }
     .overview-item{
       padding-left: 15px;
       padding-right: 15px;
     }
     .overview-box .text span{
       font-size: 17px;
     }
     .overview-chart canvas{
       position: absolute;
       bottom: 0;
     }
     .overview-box .text{
       margin-right: 10px;
     }
     .overview-box.clearfix{
       display: flex;
       height: 90px;
     }
     .overview-box .icon{
       width: auto;
     }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .overview-item--c1,.overview-item--c2,.overview-item--c3,.overview-item--c4{
        height: 215px;
    }
   
    .overview-chart{
       height: 115px;
    }
   #widgetChart1,#widgetChart2,#widgetChart3,#widgetChart4{
        position: absolute;
        bottom: 45px!important;
    }
   
    .overview-box .icon{
       width: 100%;
       margin-right: 0;
     }
     .overview-item{
       padding-left: 15px;
       padding-right: 15px;
     }
     .overview-box .text span{
       font-size: 17px;
     }
     .overview-chart canvas{
       position: absolute;
       bottom: 0;
     }
     .overview-box .text{
       margin-right: 10px;
     }
     .overview-box.clearfix{
       display: flex;
       height: 90px;
     }
     .overview-box .icon{
       width: auto;
     }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .overview-item--c1,.overview-item--c2,.overview-item--c3,.overview-item--c4{
        height: 205px;
    }
   
    .overview-chart{
       height: 115px;
    }
   #widgetChart1,#widgetChart2,#widgetChart3,#widgetChart4{
        position: absolute;
        bottom: 10px!important;
    }
   
   
    .overview-box .icon{
       width: 100%;
       margin-right: 0;
     }
     .overview-item{
       padding-left: 15px;
       padding-right: 15px;
       margin-bottom: 0;
       
     }
     .overview-box .text span{
       font-size: 17px;
     }
     .overview-chart canvas{
       position: absolute;
       bottom: 0;
     }
     .overview-box .text{
       margin-right: 10px;
     }
     .overview-box.clearfix{
       display: flex;
       height: 90px;
     }
     .overview-box .icon{
       width: auto;
     }
}


@media (min-width: 1200px) and (max-width: 1550.98px) {

    .overview-item--c1,.overview-item--c2,.overview-item--c3,.overview-item--c4{
        height: 145px;
        width: 195px;
    }
   
    .overview-chart{
       height: 115px;
    }
    #widgetChart1,#widgetChart2,#widgetChart3,#widgetChart4{
        height: 100px!important;
        
    }
   
    .overview-box .icon{
       width: 100%;
       margin-right: 0;
       height: 50px;
     }
     .overview-item{
       padding-left: 15px;
       padding-right: 15px;
       margin-bottom: 0;
       
     }
     .overview-box .text span{
     	margin-right: 10px;
       font-size: 15px;
       font-weight: bold;
     }
     .overview-chart canvas{
       position: absolute;
       bottom: 0;
     }
     .overview-box .text{
       margin-right: 10px;
       display: flex !important;
     }
     .overview-box.clearfix{
       display: flex;
       height: 36px;
     }
     .overview-box .icon{
       width: auto;
    }
    .overview-item-container{
        padding: 0 30xp 30px 30px;
        margin-right: -45px;
    }
    .overview-box .icon i{
        font-size: 35px;
    }
    .overview-item{
        padding-top: 10px;
    }
}



@media (min-width: 1550.98px) {

    .overview-item--c1,.overview-item--c2,.overview-item--c3,.overview-item--c4{
        height: 190px;
        width: 245px;
    }
   
    .overview-chart{
       height: 115px;
    }
   #widgetChart1,#widgetChart2,#widgetChart3,#widgetChart4{
        height: 115px!important;
        
    }
   
   
    .overview-box .icon{
       width: 100%;
       margin-right: 0;
       height: 60px;
     }
     .overview-item{
       padding-left: 15px;
       padding-right: 15px;
       margin-bottom: 0;
       
     }
     .overview-box .text span{
     margin-right: 10px;
       font-size: 17px;
       font-weight: bold;
     }
     .overview-chart canvas{
       position: absolute;
       bottom: 0;
     }
     .overview-box .text{
       margin-right: 10px;
       display: flex !important;
     }
     .overview-box.clearfix{
       display: flex;
       height: 45px;
     }
     .overview-box .icon{
       width: auto;
    }
    
    .overview-box .icon i{
        font-size: 40px;
    }
}
