  
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">إضافة خطر</h4>
        </div>
        <div class="modal-body">
            <form  id="prisk-form" @submit.prevent="processForm">
                <div class="form-row">
                    <div class="form-group col-lg-12">
                    <label for="rName"> الخطر</label>
                    <input type="text"  class="form-control" id="rName"name= 'p_rName' placeholder="" v-model='p_rName' >
                </div>
            </div>
            <div class="form-row">
                    <div class="form-group col-lg-12">
                    <label for="rEffect"> تأثير الخطر</label>
                    <input type="text"  class="form-control" id="rEffect"name= 'p_rEffect' placeholder="" v-model='p_rEffect' >
                </div>
            </div>
            <div class="form-row">
                <!--
                <div class="form-group col-md-6" >
                    <label>تاريخ البداية  </label>
                    <input type="date" class="form-control"  name="p_CStartDate" v-model="p_CStartDate" >
                </div>
            -->
               
        </div>
            </form>
      
        </div>
      <div class="modal-footer">  
        <button type="submit" class="btn btn-primary " data-dismiss="modal"> <i class="fa fa-dot-circle-o"></i> حفظ</button>
        &nbsp;
        <button type="reset" class="btn btn-danger " data-dismiss="modal"> <i class="fa fa-ban"></i>إلغاء</button>
    </div>
