<html dir="rtl" lang="AR">
  <head>
    <title>إضافة مشروع</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="au theme template">
<meta name="author" content="Hau Nguyen">
<meta name="keywords" content="au theme template">

  
<link id="bootstrapcss" href="../bootstrap.css" rel="stylesheet">
<link id="stylecss" href="../style.css" rel="stylesheet">
<link href="../css/theme.css" rel="stylesheet" media="all">
<link href="../css/custom_style.css" rel="stylesheet" media="all">  
<link href="../vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
<style>

body {
        min-height: 94.5vh;
        position: relative; 
      }
         
         #body{
         position: block; 
         padding-bottom:20vh;
         }
      
         
      #footer {
        position: absolute;
        bottom: 5.5%;
        color:white;
        width: 100%;
        margin: 0;
        bottom: 0;
        }
</style>
</head>
<body>
 <div>
  <mynavbar id="navbar"></mynavbar>
  <myfooter id="footer"></myfooter>
  </div>  
  <div id="body">
    <div   id="content_links">
    <div class="row">
    <div class="container">
	<br>
	<div>
		<p>
			<a href="./initiative.html">إدارة المشاريع</a> / 
			<a href="./projects.html">المشاريع</a> /  
			<a href="./project_form.html">إضافة مشروع</a>
			
		</p>
	</div>
      <hr>
         
              <div id="action-home">
              		
          <h3 align="right">إضافة مشروع</h3>
          <hr>
<br>
  
		<form id="signup-form" @submit.prevent="processForm" style="width:100%">
		<div class="form-row">
      <div class="form-group col-md-6" >
			<label>الرمز</label>
      <input class="form-control" type="text"  name= 'p_Code' v-model='p_Code' />
      </div>
      <div class="form-group col-md-6" >
			<label>الاسم</label>
      <input class="form-control" type="text" name= 'p_Name' v-model='p_Name' />
      </div>
		</div>
    <div class="form-row">
      <div class="form-group col-md-6" >
      <label>تاريخ البدء</label>
      <input class="form-control" type="date" name='p_StartDate' id="pStartdt"onchange="ClaculateDuration()" v-model='p_StartDate' />
    </div>
    <div class="form-group col-md-6" >
			<label> تاريخ الإنتهاء  </label>
      <input class="form-control" type="date" name="p_EndDate" id="pEnddt" onchange="ClaculateDuration()" v-model='p_EndDate' />
    </div>
		</div>
		<div class="form-row">
      <div class="form-group col-md-6" >
      <label>الميزانية</label>
      <div class="input-group">
      <input class="form-control" type="text"  name="p_Budget" v-model="p_Budget" />
      <div class="input-group-addon">ريال</div>
      </div>
      </div>
      <div class="form-group col-md-6" >
			<label>الوصف</label>
      <textarea class="form-control" name="p_Description" v-model="p_Description" ></textarea>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6" >
      <label>المدة</label>
      <div class="input-group">
      <input class="form-control" type="text" id="p_Duration" name="p_Duration" v-model="p_Duration" readonly />
      <div class="input-group-addon">   أيام</div>
      </div>
      </div>
      <div class="form-group col-md-6" >
			<label>راعي المشروع</label>
      <input type="text" class="form-control" name="p_Sponsor" v-model="p_Sponsor" />
      </div>
		</div>
    <br>
    <button type="submit" class="btn btn-primary " style="float: left;"> <i class="fa fa-dot-circle-o"></i> إرسال</button>
		
		</form>
    </div>
<br>
<hr>
     </div>
              
              
              
    </div>
    </div>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="../vue.js"></script>
<script src="../webjars/jquery/jquery.min.js"></script>
<script src="../webjars/sockjs-client/sockjs.min.js"></script>
<script src="../webjars/stomp-websocket/stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script id="base"></script>
<script class="vue" src="./project_form.js"></script> 
<script type="application/javascript" src="../navbar.js"></script>
<script type="application/javascript" src="../footer.js"></script>
<script class="vue" src="./role.js"></script> 
<script>
  function ClaculateDuration(){
    console.log($('#pEnddt').val());
if($('#pStartdt').val()!='' && $('#pEnddt').val()!=''){
  str = new Date($('#pStartdt').val());
  end = new Date( $('#pEnddt').val());
// To calculate the time difference of two dates
var Difference_In_Time =end.getTime() - str.getTime();
 // To calculate the no. of days between two dates
 var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);
 $('#p_Duration').val(Difference_In_Days)
}


  }
</script>
              


              
</html>
