<html dir="rtl" lang="AR">
<head>
<meta charset="utf-8">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  
  <link id="bootstrapcss" href="bootstrap" rel="stylesheet">
    <link id="headercss" href="headercss" rel="stylesheet">
   	<link id="stylecss" href="stylecss" rel="stylesheet">
  

</head>


<body>
<div id="body">
	<mynavbar></mynavbar>
	<div class="row">
	<div class="col-md-2">
             

    </div>
	<div class="col-md-8"><br><hr>
	<p>أهلا وسهلا بك في النظام المالي! </p>
	<p>دليل الميزانية لسنة ٢٠٢١م</p>
	<hr>
	<table style="width:100%">
	<tr>
		<th>رقم التصنيف الاقتصادي</th>
		<th>اسم التصنيف الاقتصادي</th>
		<th>السقف</th>
		<th>الطلب</th>
	</tr>
	<tr v-for="chapter in allChapters" @click="getChapter" v-bind:id="chapter[0]" style="color: #007bff">
		<td v-for="chap in chapter">
			{{chap}}
		</td>
	</tr>
</table>
</div>
</div>
 	<myfooter id="footer"></myfooter>
 </div>
  
<script src="chapterjs"></script>



  
<style>
    #app {
  min-height: 94.5vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px; 
  box-sizing: border-box;
}


#footer {
  position: absolute;
  bottom: 0;
  color:white;
  width: 100%;
}
</style>

</body>



</html>

