<html dir="rtl" lang="AR">
  <head>
    <title>استعراض الموظفين</title>
<meta charset="utf-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src=" https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>

   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<meta name="description" content="au theme template">
<meta name="author" content="Hau Nguyen">
<meta name="keywords" content="au theme template">

    <script src="../vue.js"></script>
    <script src="../webjars/jquery/jquery.min.js"></script>
    <script src="../webjars/sockjs-client/sockjs.min.js"></script>
    <script src="../webjars/stomp-websocket/stomp.min.js"></script>
   
<link id="bootstrapcss" href="../bootstrap.css" rel="stylesheet">
    <link id="headercss" href="../header.css" rel="stylesheet">
   	<link id="stylecss" href="../style.css" rel="stylesheet">
   	 <link href="../css/theme.css" rel="stylesheet" media="all">
    <link href="../css/custom_style.css" rel="stylesheet" media="all">
    
		<link href="../vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <style>
      body {
  min-height: 94.5vh;
  position: relative; 
}
   
   #body{
   position: block; 
   padding-bottom:20vh;
   }

   
#footer {
  position: absolute;
  bottom: 5.5%;
  color:white;
  width: 100%;
  margin: 0;
  bottom: 0;
}
ul {
    display: block;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.underline:hover{
text-decoration: underline;
color: red;
}

</style>
</head>
<body>
 <div id="app">
  <mynavbar></mynavbar>
  <myfooter id="footer"></myfooter>
  </div>  
  <div id="body">
  <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">

    <div class="container">
      <a class="navbar-brand" href="./home.html"> الموارد البشرية</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#home-navbarResponsive" aria-controls="home-navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="home-navbarResponsive">
        <ul class="navbar-nav ml-auto" v-if="role ==='Managers' || role ==='HR'">
             	
            <li class="nav-item">
            <a class="nav-link" href="./staff_home.html">الموظفون</a>
          </li>
             <li class="nav-item">
            <a class="nav-link" href="./leave_home.html">الإجازات</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="./job_home.html">الوظائف</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="./grade_home.html">المراتب</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./department_home.html">الإدارات</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="./pay_home.html">الرواتب</a>
          </li>
        </ul>
         <ul class="navbar-nav ml-auto" v-if="role ==='Employees'">
             	
            <li class="nav-item">
            <a class="nav-link" href="./staff_home.html">الموظفون</a>
          </li>
           
            
        </ul>
      </div>
    </div>
  </nav>



    <div   id="content_links">
    <div class="row">
    <div class="col-md-2">
         	
            <ul class="list-unstyled"v-if="role === 'Managers' || role ==='HR'">
                <br> <br> <br>

                <li><a href="./home.html">الرئيسية</a></li>
                <br>
                <li><a href="./staff_list.html">استعراض الموظفين</a></li>
                <li><a href="./staff_form.html">إضافة موظف</a> </li>
                 <li><a href="./staff_leave_form.html">طلب اجازة</a> </li>
                 <li><a href="./manage_leave.html">الموافقة على اجازة</a> </li>
                <li><a href="./staff_bonus_form.html">اضافة بدل لموظف</a></li>
        </ul>
        <ul class="list-unstyled" v-if="role === 'Employees'">
                <br> <br> <br>

                <li><a href="/hrs/home.html">الرئيسية</a></li>
                <br>
                <li class="underline" @click="seeID" v-bind:id="id" style="color: #007bff">الملف الشخصي</li>
                <br>
                <li><a href="./staff_list.html">استعراض الموظفين</a></li>
                 <li><a href="./staff_leave_form.html">طلب اجازة</a> </li>
        </ul>
        
         </div>
    <div class="col-md-8">
	<br>
      <div>
      		<p> <a href="./staff_home.html">الموظفون</a> / 
      			<a href="./staff_list.html">استعراض الموظفين</a>
      		</p>
      </div>
      
      <hr>
         
              <div id="action-home">
              		
          <h3 align="right">دليل الموظفين</h3>
<br>
  
		<form id="signup-form" @submit.prevent="processForm" style="width:60%">
		<table id="employees" style="width:100%">
				<tr>
    	                 	<th>الاسم</th>
    	                 	<th>البريد الالكتروني</th>
    	                 	<th>هاتف العمل</th>
    	           </tr>
    	           <tr v-for="employee in allEmployees" @click="seeID" v-bind:id="employee[0]" style="color: #007bff" v-if="role === 'Managers'">
    	           <td>{{employee[2]}} {{employee[3]}} {{employee[4]}}</td>	
    	           <td>{{employee[5]}}</td>
    	           <td>{{employee[6]}}</td>
    	           </tr>
    	           <tr v-for="employee in allEmployees" v-bind:id="employee[0]" v-if="role === 'Employees'">
    	           <td>{{employee[2]}} {{employee[3]}} {{employee[4]}}</td>	
    	           <td>{{employee[5]}}</td>
    	           <td>{{employee[6]}}</td>
    	           </tr>
		</table>
		</form>
    </div>
<br>
<hr>
      <div id="summary">   
              <div class="row m-t-25">

                <div class="col-sm-6 col-lg-3">
                  <div class="overview-item overview-item--c1">
                    <div class="overview__inner">
                      <div class="overview-box clearfix">
                        <div class="icon">
                          <i class="zmdi zmdi-accounts"></i>
                        </div>
                        <div class="text">
                          <h3>11</h3>
                          <span>عدد الموظفين</span>
                        </div>
                      </div>
                        <canvas id="widgetChart1" height="130px"></canvas>

                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                  <div class="overview-item overview-item--c2">
                    <div class="overview__inner">
                      <div class="overview-box clearfix">
                        <div class="icon">
                          <i class="zmdi zmdi-run"></i>
                        </div>
                        <div class="text">
                          <h3>9</h3>
                          <span>على رأس العمل</span>
                        </div>
                      </div>
                        <canvas id="widgetChart2" height="130px"></canvas>
  
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                  <div class="overview-item overview-item--c3">
                    <div class="overview__inner">
                      <div class="overview-box clearfix">
                        <div class="icon">
                          <i class="zmdi zmdi-hotel"></i>
                        </div>
                        <div class="text">
                          <h3>2</h3>
                          <span>في إجازة</span>
                        </div>
                      </div>
                        <canvas id="widgetChart3" height="130px"></canvas>

                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-lg-3">
                  <div class="overview-item overview-item--c4">
                    <div class="overview__inner">
                      <div class="overview-box clearfix">
                        <div class="icon">
                          <i class="zmdi zmdi-file-text"></i>
                        </div>
                        <div class="text">
                          <h3>3</h3>
                          <span>طلبات الإجازة</span>
                        </div>
                      </div>
                        <canvas id="widgetChart4" height="130px"></canvas>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
              </div>
              
              
              
    </div>
    </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     <script id="base"></script>
              <script class="vue" src="./staff_list.js"></script> 
               <script src="../js/staff_main.js"></script>
               <script> 
      $(function(){
        // TODO : This way to add custom code inside vuejs template isn't efficent 
        // We can buid it as vue js template after that we can add it again into content [vue template]
      
        $("#content").html($("#content_links").html()); // this statement will make some conflicts on work
        // here becuse of the above statement i changed the method of loading chart by put each one inside spreated function after that call all functions
        // this is also can help has assign arrguments for each method { Reuseability }
        var allEmployeesLabel = ['يناير', 'فبراير', 'مارس', 'أبريل'];
        var allEmployeesData  = [4, 7, 9, 11];
        LoadAllEmployeesChart (allEmployeesLabel,allEmployeesData);
        var leaveRequestLabel = ['يناير', 'فبراير', 'مارس', 'أبريل'];
        var leaveRequestData  = [1, 3, 4, 3];
        LoadLeaveRequestsChart(leaveRequestLabel,leaveRequestData);
        var workEmployeeLabel = ['يناير', 'فبراير', 'مارس', 'أبريل'];
        var workEmployeeData  = [1, 2, 4, 2];
        LoadOnWorkEmployeesChart(workEmployeeLabel,workEmployeeData);
        var leaveEmployeeLabel = ['يناير', 'فبراير', 'مارس', 'أبريل'];
        var leaveEmployeeData  = [4, 7, 9, 9];
        LoadOnLeaveEmployeesChart (leaveEmployeeLabel,leaveEmployeeData);
      });
    </script> 


              
</html>
